@import "../utils/border";

.button {
  width: 10rem;
  padding: .5rem;
  @include border--lightblue;
  outline: none;
  @media only screen and (min-width: $medium) {
    cursor: pointer;
    transition: .5s;
    width: 20rem;
    font-size: $font-small;
  }

  &--lightblue {
    &:hover, &:focus, &:active {
      @include border__hover--lightblue;
    }
  }
}
