@import "../utils/border";

.chat {
  display: none;
  height: 100vh;
  margin: 1rem 0;
  font-size: $font-medium;
  flex-direction: column;

  &__name {
    text-align: center;
    background-color: $color-2;
  }

  &__background {
    position: relative;
    margin: 1rem 0;
    background-color: $color-2;
    height: 100%;
    width: 100%;
  }

  &__input-field {
    position: absolute;
    bottom: 0;
    //background-color: $color-3;
    width: 100%;

    & input {
      width: 100%;
      //todo: deduplicate code
      color: black;
      outline: none;
      //width: 10rem;
      transition: .5s;

      &:focus {
        @include border__hover--lightblue
      }

      @include border--lightblue;

      &::placeholder {
        color: black;
      }

      @media only screen and (min-width: $medium) {
        width: 20rem;
        height: 2.5rem;
        font-size: $font-medium;
      }
    }
  }
}
