.contacts {
  display: flex;
  flex-direction: column;
  background-color: $color-2;
  font-size: $font-medium;
  margin: 1rem 0;

  &__contact {
    width: 100%;
    padding: 1rem 1rem;

    &:not(:last-child) {
      border-bottom: .25rem solid $color-1;
    }
  }
}
