@import "../utils/border";

$default-space: 1rem;

.login {
  display: flex;
  flex-direction: column;
  padding-bottom: $default-space;
  align-items: center;
  margin-top: 10rem;
  background-color: $color-2;
  @media only screen and (min-width: $medium) {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: $default-space * 2;
  }
  @media only screen and (min-width: $big) {
    margin-top: 7rem;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
  @media only screen and (min-width: $extra-big) {
    margin-top: 10rem;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    @media only screen and (min-width: $medium) {
      font-size: $font-big;
    }
  }

  & label {
    margin-bottom: $default-space;
    @media only screen and (min-width: $medium) {
      margin-bottom: $default-space * 2;
    }
  }

  & input {
    color: black;
    outline: none;
    width: 10rem;
    transition: .5s;

    &:focus {
      @include border__hover--lightblue
    }

    @include border--lightblue;

    &::placeholder {
      color: black;
    }

    @media only screen and (min-width: $medium) {
      width: 20rem;
      height: 2.5rem;
      font-size: $font-medium;
    }
  }
}
