//Font family
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

$handle: 'Handlee', sans-serif;

// Color, from weaker to stronger
$color-0: #fff;
$color-1: #e8f4f8;
$color-2: #d4ebf2;
$color-3: #c1e1ec;
$color-4: #add8e6;

//Size
$medium: 560px;
$big: 1200px;
$extra-big: 1500px;

//Font-size
$font-small: 1.5rem;
$font-medium: 2rem;
$font-big: 4.5rem;
